.cor
{
    background-image: url("../images/corp2.jpg");
}
.qw
{
    background-color: antiquewhite;
    background-size: cover;
    top: 0;
    bottom: 0;
    position:absolute;
    right: 0%;
    left: 0%;
}