.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .b1
  {
    background-color: #98B9AB;
    margin-top: 75px;
    padding: 45px;
    border-radius: 20px;

    
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inputField {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .roleSelect {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .button {
    width: 100%;
    margin-top: 20px;
  }
  